{{#if showAd}}
  {{#if site.mobileView}}
    <div class="google-adsense-label" style={{adTitleStyleMobile}}><h2>{{ad_label}}</h2></div>
    <div class="google-adsense-content" style={{adWrapperStyleMobile}}>
      <ins class="adsbygoogle"
        style={{adInsStyleMobile}}
        data-ad-client="ca-pub-{{publisher_id}}"
        data-ad-slot={{ad_mobile_code}}>
      </ins>
    </div>
  {{else}}
    <div class="google-adsense-label"><h2>{{ad_label}}</h2></div>
    <div class="google-adsense-content" style={{adWrapperStyle}}>
      <ins class="adsbygoogle"
        style={{adInsStyle}}
        data-ad-client="ca-pub-{{publisher_id}}"
        data-ad-slot={{ad_code}}>
      </ins>
    </div>
  {{/if}}
{{/if}}
