<div class="google-dfp-ad-label"><h2>Google Ad Plugin Display</h2></div>

{{#if site.mobileView}}
  {{#if loadedGoogletag}}
    <div id={{divId}} style={{adWrapperStyleMobile}} class="dfp-ad-unit" align=center> 
      <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('{{divId}}'); });
      </script>
  </div>
  {{/if}}

{{else}}
  {{#if loadedGoogletag}}
    <div id={{divId}} style={{adWrapperStyle}} class="dfp-ad-unit" align=center> 
      <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('{{divId}}'); });
      </script>
  </div>
  {{/if}}
{{/if}}