<label for={{name}}>{{title}}</label>
{{text-field value=adValue classNames="house-ads-text-input"}}
<div class="setting-controls">
  {{#if changed}}
    {{d-button class="ok" action=(action "save") icon="check"}}
    {{d-button class="cancel" action=(action "cancel") icon="times"}}
  {{/if}}
</div>
<p class="help">{{help}}</p>
