<label for={{name}}>{{title}}</label>
{{house-ads-chooser
  settingValue=adValue
  choices=adNames
  onChange=(action (mut adValue))
}}
<div class="setting-controls">
  {{#if changed}}
    <DButton class="ok" @action={{action "save"}} @icon="check" />
    <DButton class="cancel" @action={{action "cancel"}} @icon="times" />
  {{/if}}
</div>
<p class="help">{{help}}</p>