<label for={{this.name}}>{{this.title}}</label>
{{house-ads-chooser
  settingValue=this.adValue
  choices=this.adNames
  onChange=(action (mut this.adValue))
}}
<div class="setting-controls">
  {{#if this.changed}}
    <DButton class="ok" @action={{action "save"}} @icon="check" />
    <DButton class="cancel" @action={{action "cancel"}} @icon="xmark" />
  {{/if}}
</div>
<p class="help">{{this.help}}</p>