<section class="house-ads-settings content-body">
  <div>{{i18n "admin.adplugin.house_ads.description"}}</div>

  {{#if this.houseAds.length}}
    <form class="form-horizontal">
      {{house-ads-list-setting
        name="topic_list_top"
        value=this.adSettings.topic_list_top
        allAds=this.houseAds
        adSettings=this.adSettings
      }}
      {{house-ads-list-setting
        name="topic_above_post_stream"
        value=this.adSettings.topic_above_post_stream
        allAds=this.houseAds
        adSettings=this.adSettings
      }}
      {{house-ads-list-setting
        name="topic_above_suggested"
        value=this.adSettings.topic_above_suggested
        allAds=this.houseAds
        adSettings=this.adSettings
      }}
      {{house-ads-list-setting
        name="post_bottom"
        value=this.adSettings.post_bottom
        allAds=this.houseAds
        adSettings=this.adSettings
      }}
      {{house-ads-list-setting
        name="topic_list_between"
        value=this.adSettings.topic_list_between
        allAds=this.houseAds
        adSettings=this.adSettings
      }}

      <DButton
        @label="admin.adplugin.house_ads.more_settings"
        @icon="cog"
        @action={{route-action "moreSettings"}}
        class="btn-default"
      />
    </form>
  {{else}}
    <p>
      {{#link-to route="adminPlugins.houseAds.show" model="new"}}
        {{i18n "admin.adplugin.house_ads.get_started"}}
      {{/link-to}}
    </p>
  {{/if}}
</section>