<div class="adplugin-mgmt">
  <h1>{{i18n "admin.adplugin.house_ads.title"}}</h1>
  {{#if model.length}}
    <div class="content-list">
      <div class="house-ads-actions">
        {{#link-to "adminPlugins.houseAds.show" "new" class="btn btn-primary"}}
          {{d-icon "plus"}}
          <span>{{i18n "admin.adplugin.house_ads.new"}}</span>
        {{/link-to}}
        {{#link-to "adminPlugins.houseAds.index" class="btn btn-default"}}
          {{d-icon "cog"}}
          <span>{{i18n "admin.adplugin.house_ads.settings"}}</span>
        {{/link-to}}
      </div>
      <ul class="house-ads-list">
        {{#each model as |ad|}}
          <li class="house-ads-list-item">
            {{#link-to "adminPlugins.houseAds.show" ad.id}}
              {{ad.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{outlet}}
</div>
