{{#if this.showAd}}
  {{#if this.site.mobileView}}
    <div
      class="amazon-product-links-label"
      style={{this.adTitleStyleMobile}}
    ><h2>{{i18n "adplugin.advertisement_label"}}</h2></div>
    <iframe
      style={{this.adWrapperStyleMobile}}
      marginwidth="0"
      marginheight="0"
      scrolling="no"
      frameborder="0"
      src={{this.userInputMobile}}
      title={{i18n "adplugin.advertisement_label"}}
    >
    </iframe>
  {{else}}
    <div class="amazon-product-links-label"><h2>{{i18n
          "adplugin.advertisement_label"
        }}</h2></div>
    <div class="container" align="center">
      <iframe
        style={{this.adWrapperStyle}}
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src={{this.userInput}}
        title={{i18n "adplugin.advertisement_label"}}
      >
      </iframe>
    </div>
  {{/if}}
{{/if}}