{{#if this.showAd}}
  <div class="google-adsense-label"><h2>{{i18n
        "adplugin.advertisement_label"
      }}</h2></div>
  <div
    class="google-adsense-content"
    id={{if this.isResponsive "google-adsense__responsive"}}
    style={{this.adWrapperStyle}}
  >
    <ins
      class="adsbygoogle"
      style={{this.adInsStyle}}
      data-ad-client="ca-pub-{{this.publisher_id}}"
      data-ad-slot={{this.ad_code}}
      data-ad-format={{this.autoAdFormat}}
    >
    </ins>
  </div>
{{/if}}